{{{alert}}}
<div class="site-wrapper">
	<div class="site-wrapper-inner">
		<div class="inner cover">
			<h1 class="cover-heading">Chat Login</h1>
			<p class="lead">Enter the password to use the chat app.</p>
			<form role="form" action="/chat/login" method="POST">
				<fieldset>
					<div class="form-group">
						<label for="chat_password">Enter Password: </label>
						<input type="text" class="form-control" name="chat_password" id="chat_password" placeholder="Password"> 
					</div>
					<input type="submit" id="passwordSubmit" class="btn btn-primary">
				</fieldset>
			</form>
		</div>
		<div class="mastfoot">
			<div class="inner">
				<p>Skyler Wilson Bootstrap, Socket.io and Mongodb Practice</p>
			</div>
		</div>
	</div>
</div>
